{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>About Me</h1>

<div class='row'>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='https://media.licdn.com/dms/image/C5603AQEZY6AGSrKfsw/profile-displayphoto-shrink_200_200/0?e=1543449600&v=beta&t=NID6RTcBhZQTwt9h613AUjKcT8qJ0k0waGnGznyGv2M'>

        <h3>Niti Singhal</h3>
        <p> I am Full-Stack Web-developer with the background in mainframes. I like creating new apps. </p>
    </div>
</div>
{% endblock %}
